*{margin:0;padding:0;}
ul,li{list-style:none;}

.icon{
       width: 1em; height: 1em;
       vertical-align: -0.15em;
       fill: currentColor;
       overflow: hidden;
    }

body{
	overflow: hidden;/*手机上页面会移动，需加上此代码*/
}

button{
	border:0;
	padding: 0;
}

#canvas{
	background: white;
	display: block;
}
.actions{
	position: fixed;
	top:10px;
	left:10px;
}

.actions svg{
	width: 1.5em;
	height:1.5em;
	margin:0 8px;
	transition: all 0.3s; /* 动画加0.3秒过渡*/
	}
.actions svg.active{
	fill:#A9BDAD;
	transform: scale(1.2); /* 放大1.2倍*/

}


.colors{
	position: fixed;
	top:40px;
	left: 18px;
	
}
.colors li{
	width:20px;
	height: 20px;
	border-radius:50%;
	box-shadow: 0 0 4px rgba(0,0,0,0.25);
	margin:10px 0;
}
.colors li.red{
	background: #FF7777
}
.colors li.yellow{
	background:#FFFF88
}
.colors li.green{
	background: #99FFAD
}
.colors li.blue{
	background: #77C9FF
}
.colors li.grey{
	background: #888888
}